# Top-most EditorConfig file
root = true

# Apply these settings to all C# files
[*.cs]

# Overall severity level for IDE1006 aka Naming rule violations
#dotnet_diagnostic.IDE1006.severity = warning

# Field names use CamelCase and an underscore prefix
dotnet_naming_rule.field_should_be_camel_case.severity = warning
dotnet_naming_rule.field_should_be_camel_case.symbols = fields
dotnet_naming_rule.field_should_be_camel_case.style = field_style

dotnet_naming_symbols.fields.applicable_kinds = field
dotnet_naming_symbols.fields.applicable_accessibilities = *
dotnet_naming_symbols.fields.required_modifiers =

dotnet_naming_style.field_style.capitalization = camel_case
dotnet_naming_style.field_style.required_prefix = _

# Constant names use PascalCase
dotnet_naming_rule.constant_should_be_pascal_case.severity = warning
dotnet_naming_rule.constant_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constant_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const

# Property names use PascalCase
dotnet_naming_rule.property_names_should_be_pascal_case.severity = warning
dotnet_naming_rule.property_names_should_be_pascal_case.symbols = properties
dotnet_naming_rule.property_names_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.properties.applicable_kinds = property
dotnet_naming_symbols.properties.applicable_accessibilities = *
dotnet_naming_symbols.properties.required_modifiers = 

# Method names use PascalCase
dotnet_naming_rule.methods_should_be_pascal_case.severity = warning
dotnet_naming_rule.methods_should_be_pascal_case.symbols = methods
dotnet_naming_rule.methods_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.methods.applicable_kinds = method
dotnet_naming_symbols.methods.applicable_accessibilities = *
dotnet_naming_symbols.methods.required_modifiers = 

# Parameter names use cascalCase
dotnet_naming_rule.method_parameters_should_be_camel_case.severity = warning
dotnet_naming_rule.method_parameters_should_be_camel_case.symbols = method_parameters
dotnet_naming_rule.method_parameters_should_be_camel_case.style = camel_case

dotnet_naming_symbols.method_parameters.applicable_kinds = parameter
dotnet_naming_symbols.method_parameters.applicable_accessibilities = *
dotnet_naming_symbols.method_parameters.required_modifiers = 

# Variable names use camelCase
dotnet_naming_rule.variable_naming.severity = warning
dotnet_naming_rule.variable_naming.symbols = variable_symbols
dotnet_naming_rule.variable_naming.style = camel_case

dotnet_naming_symbols.variable_symbols.applicable_kinds = local
dotnet_naming_symbols.variable_symbols.applicable_accessibilities = *
dotnet_naming_symbols.variable_symbols.required_modifiers =

# Interface names use PascalCase an I prefix
dotnet_naming_rule.interfaces_should_start_with_i.severity = warning
dotnet_naming_rule.interfaces_should_start_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_should_start_with_i.style = prefix_i

dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.required_modifiers = 

dotnet_naming_style.prefix_i.capitalization = pascal_case
dotnet_naming_style.prefix_i.required_prefix = I

# Class names use PascalCase
dotnet_naming_rule.class_names_should_be_pascal_case.severity = warning
dotnet_naming_rule.class_names_should_be_pascal_case.symbols = classes
dotnet_naming_rule.class_names_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.classes.applicable_kinds = class
dotnet_naming_symbols.classes.applicable_accessibilities = *

# Enum names use PascalCase
dotnet_naming_rule.enum_names_should_be_pascal_case.severity = warning
dotnet_naming_rule.enum_names_should_be_pascal_case.symbols = enums
dotnet_naming_rule.enum_names_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.enums.applicable_kinds = enum
dotnet_naming_symbols.enums.applicable_accessibilities = *

# pascal_case naming style
dotnet_naming_style.pascal_case.capitalization = pascal_case

# camel_case naming style
dotnet_naming_style.camel_case.capitalization = camel_case